// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// PAGE STYLES
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


.page { padding: 10px; //border-top: 5px solid #fff;

}

[role="main"] { background-color: rgba(255,255,255,0.3); border-radius: 10px; color: #293740; font-size: 1.2em; padding: 30px 50px;
  @include single-box-shadow(rgba(0,0,0,0.3), 0, 2px, 0);

  > h1 { font-size: 1.2em; margin: 0 0 1em; text-transform: uppercase; 
    // > span { text-transform: none; }
  }

  h1 + p { margin: 0 0 2em; }
}


// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// MEDIA QUERIES
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@media only screen and (min-width: $medium) {
  
  [role="main"] { margin: 0 auto; max-width: 33em;

  }
}