<!DOCTYPE html>

<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/css/global.css">
  </head>
  <body>

    <div class="page">
      
      <header role="banner">
        <h2><img src="/assets/images/logo-eany.png" alt="{{ site.abbr }}"> </h2>
        <h1 class="title">{{ site.name }}</h1>
      </header>


      {{ content }}


      <footer role="contentinfo">
        <small>&copy; {{ site.time | date: "%Y" }} {{ site.abbr }}</small>
      </footer>

    </div>

  </body>
</html>
